
<h2>Add a new ingredient</h2>

<form [formGroup]="ingredientsForm">

  <div>
    <label for="name">
      Ingredients Name:
    </label>
    <input id="name" type="text" formControlName="ingredientsName">
  </div>

  <div>
    <label for="unit">
      Unit:
    </label>
    <input id="unit" type="text" formControlName="unit">
  </div>

  <div>
    <label for="category">
      Category:
    </label>
    <input id="category" type="text" formControlName="category">
  </div>
  <button mat-raised-button class="button" type="button" (click)="onSubmit()" routerLink="/ingredients" >Add Ingredients</button>

</form>


