
<h2>Add a new recipe !</h2>

<form [formGroup]="recipeForm">

    <label for="recipeName">
        Recipe Name:
    </label>
    <input formControlName="recipeName" />
  
    <ng-container formArrayName="ingredientsList">
        <button mat-raised-button (click)="addingredientsList()"> Add an ingredient </button>
        <div *ngFor="let _ of ingredientsList.controls; index as i">
            <ng-container [formGroupName]="i">
                Select an ingredient:
                <mat-form-field>
                    <mat-select matNativeControl  formControlName="ingredient" name="ingredient">
                      <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">
                        {{ingredient.ingredientsName}}
                      </mat-option> 
                    </mat-select>
                </mat-form-field>
                <label for="qty">
                    Quantity:
                </label>
                <input formControlName="qty" />
            </ng-container>
        </div>
    </ng-container>

    <button mat-raised-button type="button" (click) ="onSubmit()" routerLink="/recipe" >Add Recipe</button>
</form>